// Body
$body-bg: #f8fafc; // Light mode background color

// Typography
$font-family-sans-serif: 'Poppins', sans-serif; // Updated to use Poppins font
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors (Light Mode)
$blue: #0c4884; // Primary blue color
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #9d0707;
$orange: #754515;
$yellow: #e0e034;
$green: #1d874b;
$teal: #4dc0b5;
$cyan: #074475;
$black: #000000;

// Light Mode Colors
$light-bg: #f8fafc; // Light mode background color
$light-text: #000000; // Text color for light mode
$light-navbar: #ffffff; // Navbar/sidebar background in light mode
$light-input: #ffffff; // Input fields in light mode
$light-hover: #e9ecef; // Hover effect in light mode

// Dark Mode Colors
$dark-bg: #121212; // Dark mode background color
$dark-text: #ffffff; // Text color for dark mode
$dark-navbar: #1e1e1e; // Navbar/sidebar background in dark mode
$dark-input: #333; // Input fields in dark mode
$dark-hover: #444; // Hover effect in dark mode

// Sidebar-Specific Colors
$sidebar-dark-bg: $dark-navbar; // Sidebar background in dark mode
$sidebar-light-bg: #ffffff; // Sidebar background in light mode
$sidebar-dark-text: $dark-text; // Sidebar text in dark mode
$sidebar-light-text: #000000; // Sidebar text in light mode

// Transitions
$transition-duration: 0.3s; // Smooth transition duration
